/* Media Queries Mixin
**********************/
body {
  margin: 0;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body a {
  text-decoration: none;
}

nav {
  margin-top: 78px;
  width: 1297px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  width: 240px;
  height: 38px;
}
nav a {
  border: 1px solid #ff52bf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ff52bf;
  border-radius: 20px;
  padding: 10;
}