/* Media Queries Mixin
**********************/
body {
  margin: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body a {
  text-decoration: none;
}
body .button-primary {
  height: 80px;
  background-color: #ff52bf;
  color: #ffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}
body .bg-img {
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin-top: 8vh;
  width: 1297px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  width: 240px;
  height: 38px;
}
nav a {
  border: 1px solid #ff52bf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ff52bf;
  border-radius: 20px;
  width: 136px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
header section {
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
}
header section p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  line-height: 30px;
}
header section a {
  margin: 5vh 0 11vh;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 880px;
  margin: 12vh 0;
}
.status__header {
  font-family: "Open Sans", sans-serif;
  font-size: 96px;
  margin: 0;
}
.status__detail {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-size: 24px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionItem__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionItem__img img {
  height: 560px;
  width: 560px;
  -o-object-fit: contain;
     object-fit: contain;
}
.sectionItem__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 520px;
}
.sectionItem__detail h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin: 0;
}
.sectionItem__detail p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.sectionLines {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionLines__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5faff;
}

.grow-together-lines-top {
  background-image: url("../images/bg-section-top-desktop-1.svg");
}
.grow-together-lines-bottom {
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
}

.flowingConversations {
  margin: 10vh 0;
}

.your-users-lines-top {
  background-image: url("../images/bg-section-top-desktop-2.svg");
}
.your-users-lines-bottom {
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
}