/* Media Queries Mixin
**********************/
body {
  margin: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body a {
  text-decoration: none;
}
body .button-primary {
  height: 80px;
  background-color: #ff52bf;
  color: #ffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.2231);
          box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.2231);
}
@media only screen and (max-width: 768px) {
  body .button-primary {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
  }
}
body .button-primary:hover,
body .button-secondary:hover {
  background-color: #ff8fd8;
}
body .bg-img {
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  body .bg-img {
    height: 15vh;
  }
}
body .button-secondary {
  height: 48px;
  width: 160px;
  background-color: #ff52bf;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  body .button-secondary {
    font-size: 16px;
  }
}

nav {
  margin-top: 8vh;
  width: 1297px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  nav {
    width: 327px;
    height: 24px;
    margin-top: 4vh;
  }
}
nav img {
  width: 240px;
  height: 38px;
}
@media only screen and (max-width: 768px) {
  nav img {
    width: 96px;
    height: 16px;
  }
}
nav a {
  border: 1px solid #ff52bf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ff52bf;
  border-radius: 20px;
  width: 136px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 9px rgba(255, 82, 191, 0.2188);
          box-shadow: 0px 0px 9px rgba(255, 82, 191, 0.2188);
}
@media only screen and (max-width: 768px) {
  nav a {
    width: 80px;
    height: 24px;
    border-radius: 11.76px;
    font-size: 9.41px;
  }
}
nav a:hover {
  border: 1px solid #ff8fd8;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
header section {
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 768px) {
  header section {
    width: 296px;
    margin-top: 15vh;
  }
}
header section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  header section h1 {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }
}
header section p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  header section p {
    font-size: 14px;
    width: auto;
    line-height: 21px;
  }
}
header section a {
  margin: 5vh 0 11vh;
}
@media only screen and (max-width: 768px) {
  header section a {
    margin: 7vh 0 11vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero-img {
    width: 296px;
    height: 209px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 880px;
  margin: 12vh 0;
}
@media only screen and (max-width: 768px) {
  .status {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: 356px;
    margin: 6vh 0;
  }
}
@media only screen and (max-width: 768px) {
  .status-left img {
    width: 35.56px;
  }
}
@media only screen and (max-width: 768px) {
  .status-right img {
    width: 31.22px;
  }
}
.status__header {
  font-family: "Open Sans", sans-serif;
  font-size: 96px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .status__header {
    font-size: 60px;
  }
}
.status__detail {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-size: 24px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 768px) {
  .status__detail {
    font-size: 15px;
  }
}

.sectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .sectionItem {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.sectionItem__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9vh 0;
}
.sectionItem__img img {
  height: 560px;
  width: 560px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .sectionItem__img img {
    width: 258.61px;
    height: auto;
  }
}
.sectionItem__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 520px;
}
@media only screen and (max-width: 768px) {
  .sectionItem__detail {
    width: 320px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sectionItem__detail h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .sectionItem__detail h3 {
    font-size: 20px;
  }
}
.sectionItem__detail p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .sectionItem__detail p {
    margin-top: 3vh;
    margin-bottom: 14vh;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}

.sectionLines {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionLines__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5faff;
}

.grow-together-lines-top {
  background-image: url("../images/bg-section-top-desktop-1.svg");
}
@media only screen and (max-width: 768px) {
  .grow-together-lines-top {
    background-image: url("../images/bg-section-top-mobile-1.svg");
  }
}
.grow-together-lines-bottom {
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
}
@media only screen and (max-width: 768px) {
  .grow-together-lines-bottom {
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
  }
}

.flowingConversations {
  margin: 10vh 0;
}
@media only screen and (max-width: 768px) {
  .flowingConversations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.your-users-lines-top {
  background-image: url("../images/bg-section-top-desktop-2.svg");
}
@media only screen and (max-width: 768px) {
  .your-users-lines-top {
    background-image: url("../images/bg-section-top-mobile-2.svg");
  }
}
.your-users-lines-bottom {
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
}
@media only screen and (max-width: 768px) {
  .your-users-lines-bottom {
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
  }
}

.buildYourCommunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22vh 0;
}
@media only screen and (max-width: 768px) {
  .buildYourCommunity {
    margin-top: 10vh;
    margin-bottom: 20vh;
  }
}
.buildYourCommunity h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .buildYourCommunity h2 {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 5vh;
  }
}

.footer-line-top {
  background-image: url("../images/bg-footer-top-desktop.svg");
}
@media only screen and (max-width: 768px) {
  .footer-line-top {
    background-image: url("../images/bg-footer-top-mobile.svg");
  }
}

footer {
  width: 100%;
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .container-footer {
  margin: 5vh 0;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  footer .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: auto;
  }
}
footer .container-footer__section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left {
    width: 100%;
    margin-top: 14vh;
  }
}
footer .container-footer__section-left-logo {
  width: 240px;
  height: 38px;
  color: white;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-logo {
    width: 200px;
    height: 32px;
  }
}
footer .container-footer__section-left-detail {
  margin-top: 30px;
  width: 340px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-detail {
    line-height: 24px;
    width: 320px;
  }
}
footer .container-footer__section-left-contact {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .container-footer__section-left-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container-footer__section-left-contact div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 24px;
  height: 24px;
  margin-right: 1vw;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-contact div img {
    margin-right: 5vw;
  }
}
footer .container-footer__section-left-contact div p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-contact div p {
    font-size: 14px;
  }
}
footer .container-footer__section-left-social-media {
  margin-top: 82px;
}
footer .container-footer__section-left-social-media .social-links-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-right: 24px;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-social-media .social-links-item {
    width: 23px;
    margin-right: 14px;
  }
}
footer .container-footer__section-left-social-media .social-links-item i {
  font-size: 32px;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-left-social-media .social-links-item i {
    font-size: 23px;
  }
}
footer .container-footer__section-right {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
footer .container-footer__section-right-title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-right-title {
    font-size: 20px;
    line-height: 30px;
  }
}
footer .container-footer__section-right-detail {
  color: #ffffff;
  width: 344px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-right-detail {
    line-height: 24px;
    width: 320px;
  }
}
footer .container-footer__section-right-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-right-mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 8vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .container-footer__section-right-mail input:first-child {
    width: 100%;
    margin-bottom: 2vh;
  }
}
footer .container-footer__section-right-mail input {
  margin-right: 2vw;
  height: 48px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  footer .container-footer__section-right-mail input {
    margin-right: 0;
  }
}