.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 880px;
    margin: 12vh 0;
    @include media(mobile-only) {
        flex-direction: column;
        width: auto;
        height: 356px;
        margin: 6vh 0;
    }

    &-left {
        @include media(mobile-only) {
            img {
                width: 35.56px;
            }
        }
    }
    &-right {
        @include media(mobile-only) {
            img {
                width: 31.22px;
            }
        }
    }
    &__header {
        font-family: $font-family-secondary;
        font-size: 96px;
        margin: 0;

        @include media(mobile-only) {
            font-size: 60px;
        }
    }
    &__detail {
        font-family: $font-family-secondary;
        color: $detail-color;
        font-size: $font-size-detail;
        margin: 0;
        display: flex;
        justify-content: center;
        @include media(mobile-only) {
            font-size: 15px;
        }
    }
}

.sectionItem {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    @include media(mobile-only) {
        width: auto;
        flex-direction: column-reverse;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9vh 0;
        img {
            height: 560px;
            width: 560px;
            object-fit: contain;

            @include media(mobile-only) {
                width: 258.61px;
                height: auto;
            }
        }
    }

    &__detail {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 520px;
        @include media(mobile-only) {
            width: 320px;
            align-items: center;
        }
        h3 {
            font-family: $font-family-primary;
            font-size: $font-size-title;
            margin: 0;
            @include media(mobile-only) {
                font-size: 20px;
            }
        }
        p {
            font-family: $font-family-secondary;
            font-size: $font-size-regular;
            line-height: 24px;
            @include media(mobile-only) {
                margin: 3vh 0;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
            }
        }
    }
}

.sectionLines {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $neutral-very-pale-blue;
    }
}
.grow-together {
    &-lines-top {
        background-image: url('../images/bg-section-top-desktop-1.svg');

        @include media(mobile-only) {
            background-image: url('../images/bg-section-top-mobile-1.svg');
        }
    }

    &-lines-bottom {
        background-image: url('../images/bg-section-bottom-desktop-1.svg');
        @include media(mobile-only) {
            background-image: url('../images/bg-section-bottom-mobile-1.svg');
        }
    }
}

.flowingConversations {
    margin: 10vh 0;
    @include media(mobile-only) {
        flex-direction: column;
    }
}

.your-users {
    &-lines-top {
        background-image: url('../images/bg-section-top-desktop-2.svg');

        @include media(mobile-only) {
            background-image: url('../images/bg-section-top-mobile-2.svg');
        }
    }
    &-lines-bottom {
        background-image: url('../images/bg-section-bottom-desktop-2.svg');

        @include media(mobile-only) {
            background-image: url('../images/bg-section-bottom-mobile-2.svg');
        }
    }
}

.buildYourCommunity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22vh 0;
    h2 {
        font-family: $font-family-primary;
        font-size: $font-size-title;
        @include media(mobile-only) {
            font-size: $font-size-large-mobile;
            text-align: center;
        }
    }
}
