.footer-line-top {
    background-image: url('../images/bg-footer-top-desktop.svg');
}

footer {
    width: 100%;
    background-color: $neutral-very-dark-cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-footer {
        margin: 5vh 0;

        width: 1200px;
        display: flex;
        justify-content: space-between;

        &__section-left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            &-logo {
                width: 240px;
                height: 38px;
                color: white;
            }

            &-detail {
                margin-top: 30px;
                width: 340px;
                font-family: $font-family-secondary;
                font-size: $font-size-footer-detail;
                font-weight: 600;
                color: white;
            }

            &-contact {
                margin-top: 28px;
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 1vw;
                    }
                    p {
                        font-family: $font-family-secondary;
                        font-size: $font-size-regular;
                        color: white;
                    }
                }
            }

            &-social-media {
                margin-top: 82px;
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    margin-right: 24px;

                    i {
                        font-size: 32px;
                        color: #ffffff;
                    }
                }
            }
        }

        &__section-right {
            width: 50%;
            &-title {
                color: #ffffff;
                font-family: $font-family-secondary;
                font-weight: bold;
                font-size: $font-size-detail;
            }

            &-detail {
                color: #ffffff;
                width: 344px;
                font-family: $font-family-secondary;
                font-size: $font-size-footer-detail;
                font-weight: 600;
            }

            &-mail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5vh 0;
                input {
                    margin-right: 2vw;
                    height: 48px;
                    border: none;
                    box-sizing: border-box;
                    font-family: $font-family-primary;
                    font-size: $font-size-regular;
                    border-radius: 5px;
                }
            }
        }
    }
}
