.footer-line-top {
    background-image: url('../images/bg-footer-top-desktop.svg');
    @include media(mobile-only) {
        background-image: url('../images/bg-footer-top-mobile.svg');
    }
}

footer {
    width: 100%;
    background-color: $neutral-very-dark-cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-footer {
        margin: 5vh 0;
        width: 1200px;
        display: flex;
        justify-content: space-between;

        @include media(mobile-only) {
            flex-direction: column-reverse;
            width: auto;
        }

        &__section-left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            @include media(mobile-only) {
                width: 100%;
                margin-top: 14vh;
            }
            &-logo {
                width: 240px;
                height: 38px;
                color: white;
                @include media(mobile-only) {
                    width: 200px;
                    height: 32px;
                }
            }

            &-detail {
                margin-top: 30px;
                width: 340px;
                font-family: $font-family-secondary;
                font-size: $font-size-footer-detail;
                font-weight: 600;
                color: white;
                @include media(mobile-only) {
                    line-height: 24px;
                    width: 320px;
                }
            }

            &-contact {
                margin-top: 28px;
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        object-fit: contain;
                        width: 24px;
                        height: 24px;
                        margin-right: 1vw;
                        @include media(mobile-only) {
                            margin-right: 5vw;
                        }
                    }
                    p {
                        font-family: $font-family-secondary;
                        font-size: $font-size-regular;
                        color: white;
                        @include media(mobile-only) {
                            font-size: 14px;
                        }
                    }
                }
            }

            &-social-media {
                margin-top: 82px;
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    margin-right: 24px;
                    @include media(mobile-only) {
                        width: 23px;
                        margin-right: 14px;
                    }

                    i {
                        font-size: 32px;
                        color: #ffffff;
                        @include media(mobile-only) {
                            font-size: 23px;
                        }
                    }
                }
            }
        }

        &__section-right {
            width: 50%;
            @include media(mobile-only) {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            &-title {
                color: #ffffff;
                font-family: $font-family-secondary;
                font-weight: bold;
                font-size: $font-size-detail;
                @include media(mobile-only) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            &-detail {
                color: #ffffff;
                width: 344px;
                font-family: $font-family-secondary;
                font-size: $font-size-footer-detail;
                font-weight: 600;
                @include media(mobile-only) {
                    line-height: 24px;
                    width: 320px;
                }
            }

            &-mail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5vh 0;
                @include media(mobile-only) {
                    flex-direction: column;
                    margin-top: 2vh;
                    margin-bottom: 8vh;
                    justify-content: center;
                    align-items: flex-end;

                    input:first-child {
                        width: 100%;
                        margin-bottom: 2vh;
                    }
                }
                input {
                    margin-right: 2vw;
                    height: 48px;
                    border: none;
                    box-sizing: border-box;
                    font-family: $font-family-primary;
                    font-size: $font-size-regular;
                    border-radius: 5px;
                    @include media(mobile-only) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
