$primary-pink: hsl(322, 100%, 66%);
$primary-light-pink: hsl(321, 100%, 78%);
$primary-light-red: hsl(0, 100%, 63%);

$neutral-very-dark-cyan: hsl(192, 100%, 9%);
$neutral-very-pale-blue: hsl(207, 100%, 98%);
$detail-color: hsl(208, 11%, 55%);

$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

$font-size-extra-large: 96px;
$font-size-large: 48px;
$font-size-large-mobile: 24px;
$font-size-detail: 24px;
$font-size-middle: 20px;
$font-size-middle-mobile: 14px;
$font-size-regular: 16px;
$font-size-regular-mobile: 9.41px;
$font-size-footer-detail: 14px;
$font-size-title: 40px;

body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    .button-primary {
        height: 80px;
        background-color: $primary-pink;
        color: #ffff;
        font-family: $font-family-secondary;
        font-size: $font-size-middle;
        font-weight: bold;
        box-sizing: border-box;
        width: 400px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 40px;
        box-shadow: 0px 6px 13px hsl(192, 100%, 9%, 22.31%);
        @include media(mobile-only) {
            width: 200px;
            height: 40px;
            border-radius: 20px;
            font-size: 12px;
        }
    }

    .button-primary:hover,
    .button-secondary:hover {
        background-color: $primary-light-pink;
    }

    .bg-img {
        height: 30vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-secondary {
        height: 48px;
        width: 160px;
        background-color: $primary-pink;
        color: #ffffff;
        font-family: $font-family-secondary;
        font-size: $font-size-regular;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: bold;
    }
}
