header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    section {
        margin-top: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include media(mobile-only) {
            width: 296px;
            margin-top: 15vh;
        }

        h1 {
            font-family: $font-family-primary;
            font-size: $font-size-large;
            font-weight: bold;
            @include media(mobile-only) {
                font-size: $font-size-large-mobile;
            }
        }
        p {
            font-family: $font-family-secondary;
            font-size: $font-size-middle;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            align-content: center;
            text-align: center;
            line-height: 30px;
            @include media(mobile-only) {
                font-size: $font-size-middle-mobile;
                width: auto;
                line-height: 21px;
            }
        }

        a {
            margin: 5vh 0 11vh;
        }
    }
}

.hero-img {
    width: 296px;
    height: 209px;
}
