nav {
    margin-top: 8vh;
    width: 1297px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(mobile-only) {
        width: 327px;
        height: 24px;
        margin-top: 4vh;
    }

    img {
        width: 240px;
        height: 38px;
        @include media(mobile-only) {
            width: 96px;
            height: 16px;
        }
    }

    a {
        border: 1px solid $primary-pink;
        font-family: $font-family-secondary;
        font-size: $font-size-regular;
        color: $primary-pink;
        border-radius: 20px;
        width: 136px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0px 0px 9px hsl(322, 100%, 66%, 21.88%);
        @include media(mobile-only) {
            width: 80px;
            height: 24px;
            border-radius: 11.76px;
            font-size: $font-size-regular-mobile;
        }
    }

    a:hover {
        border: 1px solid $primary-light-pink;
    }
}
