nav {
    margin-top: 8vh;
    width: 1297px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 240px;
        height: 38px;
    }

    a {
        border: 1px solid $primary-pink;
        font-family: $font-family-secondary;
        font-size: $font-size-regular;
        color: $primary-pink;
        border-radius: 20px;
        width: 136px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0px 0px 9px hsl(322, 100%, 66%, 21.88%);
    }

    a:hover {
        border: 1px solid $primary-light-pink;
    }
}
